
        @font-face {
            font-family: "Arabic Medium";
            src: url(/Front/font/Qatar2022/Graphik\ Arabic\ Medium.otf);
        }
        @font-face {
            font-family: "Arabic Bolt";
            src: url(/Front/font/Qatar2022/Qatar2022Arabic-Bold.ttf);
        }
        
        @font-face {
            font-family: "Arabic Heavy";
            src: url(/Front/font/Qatar2022/Qatar2022Arabic-Heavy.ttf);
        }

.arabicMedium{
    font-family: "Arabic Medium";
}

.arabicBolt{
    font-family: "Arabic Bolt";
}

.arabicHeavy{
    font-family: "Arabic Heavy";
}

body{
    display: block;
    padding: 50px 25px;
    margin: 25px 25px;
}
p{
    margin: 0;  
    padding: 0;
}
.titulo{
    padding-top: 5px;
    margin: 0px;
    height: 30px;
    width: 100%;
    text-align: center;
    color:rgb(255, 255, 255);
    /* border-bottom: 2px solid black  ; */
}
.gradient1{
background: #c31432;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #500322, #c31432);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #510509, #c31432); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.marcoBandera{
    box-sizing: content-box;
    display: block;
    width:13vw;
    height: 150px;
    float: left;
    margin: 25px 25px;
    padding: 2px;
    min-width: 100px;
}


.bandera{
    
    position: relative;
    float: left;
    padding: 0px;
    width:100%;
    height: 20vh;
  border: 1px solid rgba(155, 6, 6, 0.196); 
    overflow: hidden; 
    border-radius: 50%;
}
.linea50{
    display: block;
    margin: 0%;
    padding: 0px;
    width: 100%;
    height:10vh ;
}

.linea40{
    display: block;
    margin: 0%;
    padding: 0px;
    width: 100%;
    height: 40px ;
}

.linea30{
    display: block;
    margin: 0%;
    padding: 0px;
    width: 100%;
    height: 6.66vh;
}
.linea20{
    display: block;
    margin: 0%;
    padding: 0px;
    width: 100%;
    height: 5vh ;
}

.celeste{
    background-color: skyblue;
    color: rgba(135, 207, 235, 0);
}

.blanco{
    background-color: white;
    color: rgba(255, 255, 255, 0);
}

.amarillo{
    background-color: yellow;
}

.azul{
    background-color: blue;
}

.rojo{
    background-color: red;
}

.verde{
    background-color: green;
}

.verdeBrasil{
    background-color: #16b83e;
    width: 100%;
    height: 100%;
}

 .amarilloBrasil{
    position: absolute;
    border-right: solid transparent 5vw ;
    border-left: solid transparent 5vw ;
    border-bottom: solid rgb(244, 225, 13) 8.5vh ;
    transform: rotate(180deg);
    top: 51%;
    left: 11%; 
} 

.amarilloBrasil2{
    position: absolute;
    border-right: solid transparent 5vw ;
    border-left: solid transparent 5vw ;
    border-bottom: solid rgb(244, 225, 13) 8.5vh;
    transform: rotate(0deg);
    top: 9%;
    left: 11%;  


}

.azulBrasil{
    position: absolute;
    background-color: #3E4095;
    border-radius: 50%;
    width: 5vw;
    height: 10vh;
    top: 5vh;
    left: 4vw;
    overflow: hidden;

}

.franjaBlanca{
    position: absolute;
    background-color: white;
    border-radius: 50%;
    width: 6vw;
    height: 10vh;
    top: 1.2vw;
    left: -2.5vh;

}

.azulAbajo{
    position: absolute;
    background-color: #3E4095;
    border-radius: 50%;
    width: 6vw;
    height: 10vh;
    top: 1.7vw;
    left: -1.29vw;
    

}



.ancho25{
    float: left;
    width: 40%;
}

.ancho75{
    width: 100;
    
}

#sol{
    position: absolute;
    width: 15%;
    height: 25%;
    border-radius: 50%;
    top: 39%;
    left: 40%;
    background-color: rgb(246, 238, 11);
   
}


