
.contenedorPaises span{
    margin-left: 0;
}
.grupos-contenedor{
    height: auto!important;
}
.botonFix, .octavos, .cuartos, .semis{
    width: 100%;
    text-align: left;
}
#cruces{
    display: grid;
    grid-template-areas: "1"  "2";

}
#primerCruce, #tercerCruce, #quintoCruce, #septimoCruce{
    grid-area: 1;
}
#segundoCruce, #cuartoCruce, #sextoCruce, #octavoCruce{
    grid-area: 2;
}
#grupos{
    height: auto!important;
}
.fixtureGrupos div{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#cruces8Vos, #cruces4tos{
    display: grid;
    grid-template-areas: "1 2";
}
h4{
    width: 90%;
}
.final{
    width: 60%;
    text-align: left;
}
.blanco{
    color: #f2f2f2;
}
.formularioFixtureInvisible{
    display: none;
}
.inputFormulario{
    background-color: #510509!important;
    color: #f2f2f2!important;
    margin-bottom: 1rem;
}
.enviar{ 
    align-items:center;
    text-align: center;
    font-size: 1rem;
    background-color: #510509!important;;
    cursor: pointer;
    clip-path: polygon(4% 50%, 10% 4%, 90% 4%, 96% 50%, 90% 96%, 10% 96%);
    transition: all .5s;
    padding: 5px 20px;
    margin: 5px 0.2vw;
    text-decoration: none;
}
.tituloFormulario{
    box-sizing: content-box;
    font-family: 'Arabic Bolt', Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: #F2F2F2;
    margin: 0;
    padding: 10px;
}
/* Responsive */
@media only screen and (max-width: 1050px){
    #cruces{
        grid-template-areas: 
        "cruce1 cruce2"
        "cruce3 cruce4"
        "cruce5 cruce6" 
        "cruce7 cruce8" !important;
        grid-template-columns: 1fr 1fr;
    } 

    #primerCruce{
        grid-area: cruce1;
    }
    #tercerCruce{
        grid-area: cruce3;
    }
    #quintoCruce{
        grid-area: cruce5;
    }
    #septimoCruce{
        grid-area: cruce7;
    }
    #segundoCruce{
        grid-area: cruce2;
    }
    #cuartoCruce{
        grid-area: cruce4;
    }
    #sextoCruce{
        grid-area: cruce6;
    }
    #octavoCruce{
        grid-area: cruce8;
    }
}
@media only screen and (max-width: 539px){

    #cruces, #cruces8Vos, #cruces4tos{
        display: flex;
        flex-direction: column;
    } 
}