/*PRESENTACION INICIO*/
.present{
    width: 100%;
    background-color: var(--cuarto);
    margin-top: 0px;
}

/* Slideshow container */
.slideshow-container {
    max-width: 1400px;
    max-height: 700px;
    position: relative;
    margin: auto;
    padding: 20px 0px;
  }
  
  /* Caption text */
  .text {
	-webkit-text-fill-color:rgb(255, 255, 255);
    -webkit-text-stroke: 2px rgba(80, 0, 0, 0.75);
    font-size: 5rem;
    padding: 40px 10px;
    position: absolute;
    width: 90%;
    height: 100%;
    margin: 20px 5%;
    font-family: 'Arabic Heavy', Verdana, Geneva, Tahoma, sans-serif;
    z-index: 10;
  }
  .mySlides img{
    max-height: 700px;
    aspect-ratio: 50%;
  }

  /* Fading animation */
  .fade {
    animation-name: slide;
    animation-duration: 3s;
  }
  
  @keyframes slide {
    from {opacity: .4} 
    to {opacity: 1}
  }
/*PRESENTACION FIN*/

/*INFO COMIENZO */
#infoMundial{
padding: 30px;
min-height: 550px;
}
#infoMundial h3{
    color: var(--cuarto);
    text-align: center;
    font-family: 'Arabic Heavy', Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 18px;
    font-size: 4em;
    margin: 0%;
}

.info-contenedor{
 width: 80%;
 margin: 0 auto;
 justify-content: center;
}

#img-contenedor{
    width: 200px;
    height: 200px;
    margin: 0 auto;
    justify-content: center;
    background:  no-repeat center ;
    background-size: 180px;
    clip-path: circle(80px);
}

.btn-contenedor{
    display: inline-flex;
    margin: 0 48%;
    width: 30px;
    height: 50px;
    text-align: center;
    background-color: transparent;
    
}
.btn-contenedor button{
    border: transparent;
}

.btn-contenedor img{
    justify-content: center;
    margin: 0 auto;
    width: 10px;
    height: 10px;
    color: var(--cuarto);
    background-color: transparent; 
}

#info-desc, #info-titulo{
    text-align: center;
    color: var(--cuarto);
    font-family: 'Arabic Bolt', Verdana, Geneva, Tahoma, sans-serif;
}
#info-titulo{
    font-family: 'Arabic Heavy', Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
}
/* INFO FIN*/

/*RESPONSIVE INICIO*/
@media only screen and (max-width: 1355px){
    .pelotaImg, .pelotaImgMessi, .mascotaLaeeb{
        width: 500px;
        margin-right: 0rem;
    }
}
@media only screen and (max-width: 980px){
    .pelotaImg, .pelotaImgMessi, .mascotaLaeeb{
        width: 400px;
        height: 600px;
        margin-right: 1rem;
    }
    .mascotaDiv, .pelotaDiv{
        width: auto;
    }
    .infoMascota, .infoPelota{
        font-size: 15px;
    }
    .tituloMascota, .tituloPelota{
        font-size: 40px;
    }
}
@media only screen and (max-width: 768px){
    .pelotaImg, .pelotaImgMessi, .mascotaLaeeb{
        width: 300px;
        height: 500px;
    }
    .text {
        font-size: 8vw;
    }
}
@media only screen and (max-width: 425px){
    .pelotaImg, .pelotaImgMessi, .mascotaLaeeb{
        width: 360px;
        height: 500px;
    }
    .mascotaDiv, .pelotaDiv{
        display: grid;
        grid-template-areas: "info" "img";
        grid-template-rows: 1fr auto;
    }
}
@media only screen and (max-width: 375px){
    .pelotaImg, .pelotaImgMessi, .mascotaLaeeb{
        width: 300px;
        height: 500px;
    }
}
/*RESPONSIVE FIN*/