/*
PALETA DE COLORES

#8C0327
#590219
#BF064A
#F2F2F2


*/
*{
    --fondo: #260108;
    --primario: #8C0327;
    --segundario: #590219;
    --terceario: #BF064A;
    --cuarto: #F2F2F2;
    --alter: #9D451F;
    --alter2: #156b48;

    
    --bordo: #8A1538;
    --rojo: #BF064A;
    --amarillo: #EEEEE4;
    --celeste: #00CFB7;
    --naranja: #FF6200;

}
@font-face {
    font-family: "Arabic Medium";
    src: url(/Front/font/Qatar2022/Graphik\ Arabic\ Medium.otf);
}
@font-face {
    font-family: "Arabic Bolt";
    src: url(/Front/font/Qatar2022/Qatar2022Arabic-Bold.ttf);
}

@font-face {
    font-family: "Arabic Heavy";
    src: url(/Front/font/Qatar2022/Qatar2022Arabic-Heavy.ttf);
}

.arabicMedium{
    font-family: "Arabic Medium";
}

.arabicBolt{
    font-family: "Arabic Bolt";
}

.arabicHeavy{
    font-family: "Arabic Heavy";
}

body{

margin: 0;
background: #c31432;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #500322, #c31432);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #510509, #c31432); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
 /*COMIENZO ENCABEZADO */
 header{
    display: flex;
    position: sticky;
    align-self: flex-start;
    min-height: 40px;
    top: 0;
    left: 0;
    background-color: var(--cuarto) ;
    border-bottom: 4px solid var(--terceario);
    color: var(--segundario);
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    box-sizing: border-box;
    padding: 10px 0;
    font-family: "Arabic Heavy";
    z-index: 10;
}

.logo{
    width: 20%;
}

.menu{
    display: flex;
    justify-content: flex-end;
    float: left;
    width: 80%;
}


a {
    color: inherit;
    text-decoration: none;
}

.enlaces{
    display: inline-block;
    width: 100px;
}

.enlaces > a {
    text-decoration: none;
    color: var(--segundario);
}


.boton {
    display: flex;
    align-items:center;
    text-align: center;
    font-size: 16px;
    background-color: var(--bordo);
    color: var(--amarillo);
    cursor: pointer;
    clip-path: polygon(4% 50%, 14% 4%, 86% 4%, 96% 50%, 86% 96%, 14% 96%);
    transition: all .5s;
    padding: 10px 20px;
    margin: 0px 0.25vw;
}
.boton:hover{
    background: var(--rojo);
    clip-path: polygon(0% 50%, 10% 0%, 90% 0%, 100% 50%, 90% 100%, 10% 100%);
}

.icono {
    display: flex;
    align-items:center;
    text-align: center;
    font-size: 16px;
    background-color: var(--bordo);
    color: var(--amarillo);
    cursor: pointer;
    clip-path: polygon(4% 50%, 14% 4%, 86% 4%, 96% 50%, 86% 96%, 14% 96%);
    transition: all .5s;
    padding: 10px 20px;
    margin: 0px 0.25vw;
}
.icono:hover{
    background: var(--rojo);
    clip-path: polygon(0% 50%, 10% 0%, 90% 0%, 100% 50%, 90% 100%, 10% 100%);
}



@media screen and (max-width: 768px) {
    div.boton {
        display: none;
    }
    div.icono {
        display: flex;
    }
}

@media screen and (min-width: 768px) {
    div.boton {
        display: flex;
    }
    div.icono {
        display: none;
    }
}

/* FINAL ENCABEZADO*/

/*INICIO GRUPO*/
#grupos{
    height: 700px;
}

#grupos h3{
    font-family: "Arabic Heavy";
    font-size: 4em;
    letter-spacing: 16px;
    color: var(--cuarto);
    text-align: center;
    margin: 0;
    padding: 0;

}
.grupos-contenedor{
    padding-top: 20px; /*el padding top es de la misma altura que el header + 20px*/
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(4,270px);
    grid-template-rows: repeat(2, 230px);
    justify-content: center;
    justify-items: normal;
    box-sizing: content-box;

}

#grupos h4{
    box-sizing: content-box;
    font-family: 'Arabic Bolt', Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: #F2F2F2;
    border-bottom: 0.5px solid #F2F2F2 ;
    margin: 0;
    padding: 10px;
}

.grupo{
height: 80%;
box-sizing: content-box;
background-color: #510509;
margin: 0 10px 10px 10px;
padding-bottom: 20px;
border-radius: 5px;
}

.contenedorPaises{
    padding: 20px 30px;
}


.pais{
    margin: 0 auto;
    min-height: 30px;
    background: linear-gradient(to right, #f2f2f235, #F2F2F2);;
    border-radius: 10px;
    margin-bottom: 3px;
    text-transform: uppercase;
}

.pais:hover{
    background-color: var(--cuarto);
}
.contenedorPaises span{
    margin-left: 10px;
    margin-right: 10px;
}

@media screen and (max-width:1060px) {
    #grupos{
        height: 1100px;
    }
    .grupos-contenedor{
        height: 200vh;
        grid-template-columns: repeat(2,270px);
        grid-template-rows: repeat(4, 230px);
   
    
    }
}
    
    @media screen and (max-width:530px) {
        #grupos{
            height: 700px;
            box-sizing: content-box;
        }
        
        #grupos h3{
            font-size: 3em;
        }
        .grupos-contenedor{
            height: 700px;
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            padding-top: 20px;
            justify-content: start;
            align-items: center;
            height: 100vh;
            
           
         
        }
      
        .grupo{
            overflow: hidden;
            width: 65vw;
            max-height: 200px;
            height: 20px;
            transition: all 1s;
        }

        .grupo:hover{
            flex-grow: 2 ;
        }

        .pais{
            min-height: 30px;
        }

}

/* FIN GRUPO */



/* INICIO ESTADIOS */

.divEstadio{
    width: 100vw;
}

.estadios{
    display: grid;
    width: 100%;
    grid-template-areas: "imgG info";
    grid-template-columns: 1fr 1fr;
    margin-top: 2rem;
}
.estadios-nombre{
    grid-area: info;
    font-size: 4rem;
    text-align: center;
    margin: 0rem;
    color: var(--cuarto);
    font-family: "Arabic Medium";
}
.estdios-imgGrande{
    grid-area: imgG;
    width: 60rem;
    height: 35rem;
}
.estdios-imgChico{
    grid-area: imgC;
    width: 26rem;
    height: 26rem;
    margin-top: 6rem;
    margin-left: -13rem;
}
.estadios-infoYFoto{
    grid-area: info;
    display: grid;
    grid-template-areas: "imgC informacion";
}
.estadios-info{
    grid-area: informacion;
    margin-right: 5rem;
    margin-left: 15rem;
    margin-top: 2rem;
}
.estadios-datos1{
    margin-top: 3rem;
}
.estadios-datos1, .estadios-datos2, .estadios-datos3{
    text-align:justify;
    font-size: 1.3rem;
    color: var(--cuarto);
}
.linea {
    border-top: 1px solid var(--cuarto);
    height: 2px;
    padding: 0;
    margin: 20px auto 0 auto;
  }
/* FIN ESTADIOS */ 


/* INICIO FIXTURE */

/* #fixture{
    height: 100vh;
    background-color: var(--alter);
} */

.huso_cal {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: rgb(255, 242, 219);
    color:var(--bordo);
    margin: 10px 1%;
    padding: 10px 0%;
    font-family: "Arabic Heavy";
    font-size: 1.1rem;
    font-weight: bolder;
    clip-path: polygon(0% 50%, 2% 0%, 98% 0%, 100% 50%, 98% 100%, 2% 100%);
  }
  .selec_cal {
    font-size: 1.25rem;
    font-family: "Arabic Heavy";
    font-weight: bold;
    color: var(--bordo);
    margin: 0 10px;
  
  }
  .conten_cal {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    text-align: center;
    justify-content: center;
  }
  .grupo_cal{
      max-width: 25%;
      min-width: 425px;
      align-items:center;
      text-align: center;
      color: var(--bordo);
      font-size: 16px;
      clip-path: polygon(0% 50%, 3% 2%, 50% 0%, 97% 2%, 100% 50%, 97% 98%, 50% 100%, 3% 98%);
      padding: 10px 20px;
      margin: 1vh 0.25vw;
      padding: 20px;
      background:  rgb(255, 242, 219);  /* fallback for old browsers */
      background: -webkit-linear-gradient(to top, rgb(187, 150, 39), rgb(255, 242, 219));  /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to top, rgb(187, 150, 39), rgb(255, 242, 219)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      font-family: "Arabic Heavy";
      font-size: 2rem;
      font-weight:900;
  }
  .partido {
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      color: var(--bordo);
      margin: 2%;
      padding: 2%;
      background-color:rgb(255, 255, 255);
      align-items:center;
      text-align: center;
      font-size: 1.1rem;
      clip-path: polygon(0% 50%, 2% 0%, 98% 0%, 100% 50%, 98% 100%, 2% 100%);
    }
  
  .equip_cal {
      display: flex;
      align-items: center;
      text-align: center;
      justify-content: center;
    }
  
  .estadio_cal{
      display: flex;
      min-height: 30px;
      align-items: center;
      text-align: center;
      justify-content: center;
  }
  
  .fecha_cal{
    display: flex;
    min-height: 30px;
    align-items: center;
    text-align: center;
    justify-content: center;
  }
  
  .band_cal{
    width: 45px;
    border:1px solid  black;
    margin: 2px 10px;
  }
  

/* FIN FIXTURE */

/* INICIO NOTICIA */

#noticias{
    height: 100vh;
    background-color: var(--alter2);
}

/* FIN NOTICIA */ 

/* INICIO FOOTER */
footer{
    height: 10vh;
    background-color: var(--cuarto);
    color: var(--primario);
    align-items: center;
    text-align: center;
    letter-spacing: 6px;
    font-size: large;
    font-weight: 900;
}

/* FIN FOOTER */