/* PALETA DE COLORES */
*{
    --fondo: #260108;
    --primario: #8C0327;
    --segundario: #590219;
    --terceario: #BF064A;
    --cuarto: #F2F2F2;
    --alter: #9D451F;
    --alter2: #156b48;

    --bordo: #8A1538;
    --rojo: #BF064A;
    --amarillo: #EEEEE4;
    --celeste: #00CFB7;
    --naranja: #FF6200;
}
@font-face {
    font-family: "Arabic Medium";
    src: url(/Front/font/Qatar2022/Graphik\ Arabic\ Medium.otf);
}
@font-face {
    font-family: "Arabic Bolt";
    src: url(/Front/font/Qatar2022/Qatar2022Arabic-Bold.ttf);
}

@font-face {
    font-family: "Arabic Heavy";
    src: url(/Front/font/Qatar2022/Qatar2022Arabic-Heavy.ttf);
}

.arabicMedium {
    font-family: "Arabic Medium";
}

.arabicBolt {
    font-family: "Arabic Bolt";
}

.arabicHeavy {
    font-family: "Arabic Heavy";
}

body {
    margin: 0;
    background: #c31432;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #500322, #c31432);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #510509, #c31432); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
 /*COMIENZO ENCABEZADO */
header {
    display: flex;
    position: sticky;
    top: 0;
    left: 0;
    min-height: 40px;
    align-items:center;
    background-color: var(--cuarto) ;
    background-image: url("../picture/fondo_gris.png");
    border-bottom: 4px solid var(--terceario);
    color: var(--segundario);
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    box-sizing: border-box;
    padding: 10px 0;
    font-family: "Arabic Heavy";
    z-index: 1;
}

.logo {
    width: 600px;
    text-align: center;
    font-size: 1.9rem;
    -webkit-text-stroke: 1px rgb(80, 5, 5);
	-webkit-text-fill-color:var(--bordo);
}

.menu {
    display: block;
}

.menu a {
    float: right;
    display: block;
    align-items:center;
    text-align: center;
    font-size: 1rem;
    background-color: var(--bordo);
    color: var(--amarillo);
    cursor: pointer;
    clip-path: polygon(4% 50%, 10% 4%, 90% 4%, 96% 50%, 90% 96%, 10% 96%);
    transition: all .5s;
    padding: 5px 20px;
    margin: 5px 0.2vw;
    text-decoration: none;
}

.menu a:hover {
    background: var(--rojo);
    clip-path: polygon(0% 50%, 2% 0%, 98% 0%, 100% 50%, 98% 100%, 2% 100%);
}

.menu .icono_h {
    display: none;
    float: none;
    min-height: 16px;
    clip-path: polygon(0% 50%, 4% 0%, 96% 0%, 100% 50%, 96% 100%, 4% 100%);
  }

/* FINAL ENCABEZADO*/

/*INICIO GRUPO*/
#grupos{
    padding: 3%;
    height: 100vh;
    background-color: var(--primario);
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.grupo{
    display: flex;
    flex-wrap: wrap;   
    height: 70%;
    width: 5%;
    padding-top: 50px;
    margin-inline: 5px;
    background-color: #f2f2f2ed;
    color: var(--alter);
    border-radius: 60px;
    transition: all 0.8s;
    /* writing-mode: vertical-rl; */
 
}

.grupo:hover{
flex: 2 1 auto;
}

/* FIN GRUPO */

/* INICIO ESTADIOS */

#estadios{
    height: 100vh;
    background-color: var(--alter2);

}

/* FIN ESTADIOS */ 


/* INICIO FIXTURE */

#fixture{
    height: 100vh;
    background-color: var(--alter);
}

/* FIN FIXTURE */

/* INICIO NOTICIA */

#noticias{
    height: 100vh;
    background-color: var(--cuarto);
}

/* FIN NOTICIA */ 

/* INICIO FOOTER */
footer {
    display: flex;
    position: sticky;
    min-height: 30px;
    align-items:center;
    background-color: var(--cuarto);
    background-image: url("../picture/fondo_gris.png");;
    border-top: 4px solid var(--terceario);
    color: var(--segundario);
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    box-sizing: border-box;
    padding: 5px 0;
    font-family: "Arabic Heavy";
}

/* FIN FOOTER */

@media screen and (max-width: 768px) {
    header {display: block;}
    .logo {
        width: 100%;
        font-size: 5vw;
    }
    .menu {width: 100%;}
    .menu a:not(:first-child) {display: none;}
    .menu a.icono_h {display: block;}
    .menu.responsive {position: relative;}
    .menu.responsive a {
        float: none;
        display: block;
        clip-path: polygon(0% 50%, 4% 0%, 96% 0%, 100% 50%, 96% 100%, 4% 100%);
    }
    .menu.responsive a:hover {clip-path: polygon(0% 50%, 2% 0%, 98% 0%, 100% 50%, 98% 100%, 2% 100%);}
}
